{% extends "bootstrap.html" %}

{% block head %}
<title>Log</title>
{% endblock %}

{% block content %}
<body>
	{% with messages = get_flashed_messages(with_categories=true) %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for category, message in messages %}
			<div class="alert alert-{{ category }} alert-dismissible" role="alert">

		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
	      <li class="{{ category }}">{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}

	<div class = "container">

		<br>
		{% from "formhelpers.html" import render_field %}
		<form method=post action="/login/" class="col-lg-6 offset-lg-3">

				<fieldset class="border p-2" >
					<legend  class="w-auto">Log In</legend>
						<dl>
			        {{ form.hidden_tag() }}
							{{render_field(form.username)}}
							{{render_field(form.password)}}
						</dl>


						<p>	<button type="submit" class="btn btn-secondary">Log In</button> </p>
		   </fieldset>
		</form>

		{% if error %}
			<p class="error"><strong>Error:</strong>{{error}}</p>
		{% endif %}
	</div>

</body>

{% endblock %}
