{% extends "bootstrap.html" %}

{% block head %}
<title>Purchased products</title>
{% endblock %}

{% block content %}
<br><br>
<div class="container">
  <div class="row">
          {% for product in purchased %}
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">

                <img src="{{ product[7]|resize('700x300', format='jpg', fill=1) }}" alt="none">
                <div class="card-body">
                  <h4 class="card-title">
                    <p style="color:blue;">{{product[3]}}</p>
                  </h4>
                  <h5>{{product[5]}} EUR</h5>
                  <p class="card-text">{{product[4]}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Seller: {{product[2]}}</li>
                  <li class="list-group-item">Purchase date: {{product[9]}}</li>
                </ul>
              </div>
            </div>
          {% endfor %}
    </div>
</div>
{% endblock %}
